.container {
  box-sizing: border-box;
  min-width: 1200px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 1px;
  background: url("../img/background_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.text-color-white,
.js-tab-active,
.titles-review {
  color: #ffffff;
}

.text-color-turquoise,
.js-tab-active-work,
.work-hover-block {
  color: #18cfab;
}

a {
  text-decoration: none;
}

.menu-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 6%;
  background-color: rgba(94, 93, 88, 0.6);
}

.logo-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 13.7%;
}

.menu-list-header {
  display: flex;
  margin-right: 1.8%;
}

.menu-item-header {
  margin-right: 2.3%;
  padding: 52px 0;
  border-bottom: 2px #18cfab;
}

.menu-text-header {
  opacity: 60%;
}

.text-decor-bold, .work-hover-block  {
  text-transform: uppercase;
  font-weight: bold;
}


.btn-search-header {
  padding: 52px 0;
  background-color: Transparent;
  cursor: pointer;
  border: 0;
}

.btn-search-header:hover .fas.fa-search {
  color: #18cfab;
  opacity: 1;
}

.fas.fa-search {
  color: rgba(255, 255, 255, 0.6);
}

.title-header {
  padding-top: calc((100vh - 120px) * 0.26);
  text-align: center;
}

.text-header {
  font-size: 35px;
}

.slogan-header {
  margin: calc((100vh - 120px) * 0.0247) 0;
  font-size: 78px;
}

.advice-header {
  margin-bottom: calc((100vh - 120px) * 0.145);
  font-size: 34px;
  color: rgba(255, 255, 255, 0.6);
}

.text-decor-light, .work-hover-block-info {
  font-weight: 300;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  box-shadow: 0 -5px #ffffff;
  cursor: pointer;
  transition: 200ms;
}

.btn-explore {
  padding: 16px 18px 16px 17px;
  margin-right: 26px;
}

.btn-purchase {
  background: #00cbf6;
  padding: 16px 11px 16px 12px;
}
/* Секция меню опций */
.menu-option {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;
  font-size: 20px;
}

.option-decor-dark {
  background: #1c2a33;
}

.option-decor-light,
.btn-explore,
.load-btn,
.js-tab-active {
  background: #18cfab;
}

.option-decor-dark,
.option-decor-light {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: space-between;
  align-items: center;
  padding: 93px 0 110px;
}

.content {
  margin: 0 auto;
  max-width: 1160px;
  text-align: center;
}

/* секция "Наш сервис" */
.titles {
  margin-bottom: 101px;
  color: #4E4E4E;
}


.titles,
.titles-review {
  font-size: 36px;
}

.titles:after {
  display: block;
  content: "";
  position: relative;
  top: 23px;
  left: 47.3%;
  width: 78px;
  height: 1px;
  background-color: #18cfab;
}

.titles-line,
.titles-review-line {
  display: block;
  margin-bottom: 3px;
}

.titles-line:after,
.titles-review:after,
.titles-review-line:after {
  display: block;
  content: "";
  position: relative;
  top: 23px;
  width: 79px;
  height: 1px;
  background-color: #18cfab;
}

.titles-line:after {
  left: 46%;
}

.titles-review:after {
  left: 43.5%;
}

.titles-review-line:after {
  left: 41.5%;
}

.menu-list-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  background-color: #f8fcfe;
}

.menu-item-services {
  display: flex;
  flex-grow: 1;
  width: 16%;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border: solid 1px #edefef;
  color: #717171;
}

.menu-item-services:hover {
  border: solid 1.5px #18cfab;
  cursor: pointer;
}

.tabs-services {
  margin-bottom: 91px;
}

.img-services {
  float: left;
}

.js-tab-active {
  cursor: pointer;
}

.menu-item-services.js-tab-active::after {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  right: 30%;
  top: 43px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18cfab;
}

/* секция "Покупка" */
.purchase-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 127px 0;
  background: url("../img/Layer\ 21\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title-purchase-section {
  margin-bottom: 12px;
  font-size: 40px;
}

.description-purchase-section {
  margin-bottom: 67px;
  color: #d8d8d8;
}

.wrapper {
  background: #e9edef;
  padding: 96px 0 99px;
  margin-bottom: 82px;
}

.work-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto 71px;
  width: max-content;
  padding: 0 12px;
  margin-bottom: 71px;
}

.work-menu-item {
  padding: 21px 15px 19px 17px;
  border: solid 1px #dadada;
}

.work-menu-item,
.work-hover-block,
.news-comment,
.review-section-client-info,
.copyright {
  font-size: 14px;
}

.work-menu-item:hover {
  cursor: pointer;
}

.span-all {
  padding: 0 13px 0 11px;
}

.container-img-work {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  column-gap: 1px;
  row-gap: 1px;
  margin-bottom: 70px;
}

.js-tab-active-work {
  cursor: pointer;
  border: solid 2px #18cfab;
}

.img-work {
  position: relative;
  animation: showBlock 300ms linear forwards;
}

.work-hover-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #18cfab;
  background-color: #e9edef;
}

.work-hover-block-info {
  font-size: 12px;
  color: #8a8a8a;
  text-transform: none;
}

.img-work-active:hover .work-hover-block {
  display: flex;
  cursor: url(../img/icons/Rectangle\ 240.png), pointer;
  animation: showBlock 300ms linear forwards;
}

.load-btn {
  padding: 16px 18px 16px 17px;
}

.load-btn::before {
  position: relative;
  content: url(../img/icons/plus.png);
  right: 5px;
  top: 3px;
}

.content-grid-news {
  display: grid;
  grid-template-columns: repeat(auto-fit, 263px);
  column-gap: 35px;
  row-gap: 44px;
  margin-bottom: 49px;
}

.content-news {
  position: relative;
  width: 263px;
}

.content-news-img {
  margin-bottom: 11px;
}

.drop-top {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0px;
  content: "";
  padding: 7px 20px 6px;
  background: #203e38;
  animation: showBlock 1s linear forwards;
}

.drop-text {
  display: block;
  margin: 8px 0;
}

.content-news-text {
  margin-bottom: 11px;
  font-size: 18px;
  color: #717171;
}

a {
  text-decoration: none;
}

.content-news:hover .drop-top {
  color: #ffffff;
  background: #18cfab;
  transition: 200ms;
}

.content-news:hover .content-news-text {
  color: #18cfab;
}

.news-comment, .tabs-services {
  color: #777777;
}

.news-admin {
  margin-right: 10px;
}

.news-admin::after {
  content: " ";
  width: 1px;
  height: 14px;
  margin-left: 10px;
  background: #777777;
  opacity: 0.3;
}

/* секция "Отзыв" */

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 98px 0 104px;
  background: url("../img/section-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.titles-review {
  margin-bottom: 99px;
}

.review-description {
  text-align: center;
  line-height: 30px;
  margin: 36px 0 37px 0;
  animation: showBlock 1300ms linear forwards;
}

.review-description,
.review-section-client-info,
.copyright {
  color: #bbbbbb;
}

.review-section-client-name,
.review-section-client-info {
  line-height: 27px;
  animation: showBlock 900ms linear forwards;
}

.big-slider-avatar {
  margin: 38px auto;
  height: 143px;
  width: 143px;
  border: 10px solid #104b4b;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  animation: showBlock 1300ms linear forwards;
}

.active-slide {
  transform: translate(0, -10px);
  transition-duration: 600ms;
}

.small-slider {
  user-select: none;
}

.prev,
.next {
  margin: 0 35px;
  padding-top: 7px;
  padding-top: 3px;
  padding-left: 9px;
  border: 1px solid #bbbbbb;
  border-radius: 1px;
}

.prev {
  padding-right: 6px;
}

.next {
  padding-right: 8px;
}

.prev:hover,
.next:hover {
  border: 1px solid #18cfab;
  background-color: #18cfab;
  cursor: pointer;
}

.arrow {
  width: 10px;
  height: 15px;
  fill: #bbbbbb;
}

.prev:hover .arrow,
.next:hover .arrow {
  fill: #ffffff;
}

.footer {
  padding: 48px 0;
  width: 100%;
  background-color: #22353f;
}
.copyright {
  text-align: center;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
